<div class="container">


<% @animaux_par_espece.each do |espece, animaux| %>
  <h2><%= espece.nom %></h2>
  <p>Enclos: <%= espece.enclo.nom if espece.enclo.present? %></p>
  <p>Superficie: <%= espece.enclo.superficie if espece.enclo.present? %> m²</p>

  <ul>
    <% animaux.each do |animal| %>
      <li><%= animal.nom %></li>
      <!-- Autres détails de l'animal ici -->
    <% end %>
  </ul>
<% end %>


<% if current_user && current_user.is_admin? %>
  <%= link_to "Ajouter un animal", new_api_animaux_path, class: "mb-3"%>

  <%= button_to "Réinitialiser animaux.json", api_reset_animaux_path, method: :post, class: "mb-3" %>
<% end %>
</div>