<div class="container">
<% @animaux.each do |animal| %>
  <div>
    <h2><%= animal.nom %></h2>
    <% if animal.espece %>
      <p>Espece: <%= animal.espece.nom %></p>
      <% if animal.espece.enclo %>
        <p>Enclos: <%= animal.espece.enclo.nom %></p>
      <% else %>
        <p>Enclos: Aucun enclos associé</p>
      <% end %>
    <% else %>
      <p>Espece: Espèce non définie</p>
    <% end %>
  </div>
<% end %>

<% if current_user && current_user.is_admin? %>
  <%= link_to "Ajouter un animal", new_api_animaux_path, class: "mb-3"%>

  <%= button_to "Réinitialiser animaux.json", api_reset_animaux_path, method: :post, class: "mb-3" %>
<% end %>
</div>