<div class="container">
  <%= form_with model: article do |form| %>

  <div>
    <%= form.label :titre %><br>
    <%= form.text_field :titre %>
    <% article.errors.full_messages_for(:titre).each do |message| %> 
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
  <div>
  <%= form.label :status %><br>
  <%= form.select :status, Visible::VALID_STATUSES, selected: article.status || 'public' %>
</div>

<% end %>
</div>