<h1 class="pt-5">Articles</h1>

Our blog has <%= Article.public_count %> articles and counting!

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.titre, article %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>

<h2>Animaux aléatoires</h2>

<ul>
  <% @animaux_random.each do |animal| %>
    <% case animal.espece
        when "loup" %>
    <h3> ça souffle </h3>     
    <% end %>

    <li><%= animal.nom %> - <%= animal.espece %></li>
  <% end %>
</ul>