<div>
  <%= render "layouts/banner"%>
</div>
<div class="container">
<h1 class="pt-5">Articles</h1>

  Our blog has <%= Article.public_count %> articles and counting!

  <ul>
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <li>
          <%= link_to article.titre, article %>
        </li>
      <% end %>
    <% end %>
  </ul>
<%= link_to "Voir tous les articles", all_articles_path %>

<% if current_user && current_user.is_admin? %>
  <%= link_to "Nouvel article", new_article_path %>
<% end %>

  <h2>Animaux aléatoires</h2>

  <ul>
    <% @animaux_random.each do |animal| %>
      <li><%= animal['nom'] %> - <%= animal['espece'] %></li>
    <% end %>
  </ul>
</div>