<div class="container">
  <%= form_with model: animal do |form| %>

<div>
  <%= form.label :nom %><br>
  <%= form.text_field :nom %>
</div>
<div>
  <%= form.label 'Espece' %><br>
  <%= form.select :especenom, options_for_select(Animal.pluck(:especenom).uniq) %>
</div>
<div>
  <%= form.label :naissance %><br>
  <%= form.date_field :naissance %>
</div>
<div>
  <%= form.label :deces %><br>
  <%= form.date_field :deces %>
</div>
<div>
  <%= form.label :sexe %><br>
  <%= form.select :sexe, options_for_select(Animal.pluck(:sexe).uniq) %>
</div>
<div>
  <%= form.label :observations %><br>
  <%= form.text_area :observations %>
</div>
<div>
  <%= form.label :position %><br>
  <%= form.select :position, options_for_select(Animal.pluck(:position).uniq) %></div>
</div>
<div><br>
  <%= form.submit "Valider" %>
</div>
<% end %>
</div>