<!-- app/views/api/show.html.erb -->
<div class="container">
<h1>Détails de l'animal</h1>

<dl>
  <dt>Nom :</dt>
  <dd><%= @animal.nom %></dd>

  <dt>Espece :</dt>
  <dd><%= @animal.espece %></dd>

  <dt>Naissance :</dt>
  <dd><%= @animal.naissance %></dd>

  <dt>Décès :</dt>
  <dd><%= @animal.deces %></dd>

  <dt>Sexe :</dt>
  <dd><%= @animal.sexe %></dd>

  <dt>Observations :</dt>
  <dd><%= @animal.observations %></dd>

  <dt>Position :</dt>
  <dd><%= @animal.position %></dd>
</dl>
<%= link_to 'Retour à la liste', animals_path %>
<% if current_user && current_user.is_admin? %>
  <ul>
    <li><%= link_to "Modifier", edit_animal_path(@animal) %></li>
    <li><%= link_to 'Supprimer', @animal, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>

<% end %>
</div>
